# =============== log ignore
# must have /* so that can support empty folder
log/*
tmp/*
builtAssets/*






# =========================== DO NOT touch below v1.0.1 ===============================

# =============== OSX.gitignore
.AppleDouble
.LSOverride

# Thumbnails
._*

# =============== # Windows image file caches
# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Except the .htpassed
!.htpasswd
!.nodemonignore






















# FROM https://github.com/niftylettuce/node-email-templates/blob/master/.gitignore

# ------------------------------------------------------------------------------
# Common Node files and folders
#  https://github.com/github/gitignore/blob/master/Node.gitignore
# ------------------------------------------------------------------------------

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log


# ------------------------------------------------------------------------------
# Nodemon
# ------------------------------------------------------------------------------

.monitor


# ------------------------------------------------------------------------------
# JSHint
# ------------------------------------------------------------------------------

jshint


# ------------------------------------------------------------------------------
# Numerous always-ignore extensions
# ------------------------------------------------------------------------------

*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache


# ------------------------------------------------------------------------------
# Files from other repository control systems
# ------------------------------------------------------------------------------

.hg
.svn
.CVS


# ------------------------------------------------------------------------------
# PHPStorm, RubyMine
# ------------------------------------------------------------------------------

.idea


# ------------------------------------------------------------------------------
# OS X and other IDE's folder attributes
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace


# ------------------------------------------------------------------------------
# Dreamweaver added files
# ------------------------------------------------------------------------------

_notes
dwsync.xml


# ------------------------------------------------------------------------------
# Komodo
# ------------------------------------------------------------------------------

*.komodoproject
.komodotools


# ------------------------------------------------------------------------------
# Add your custom excludes below
# ------------------------------------------------------------------------------
